
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.left-side{
    background: #e6e6e6;
    color: #14346c;
    width:100%;
    padding:0px;
    padding-right: 0px;
    padding-left: 0px;
}

.right-side{
    width:100%;
    padding:0px;
    padding-right: 0px;
    padding-left: 0px;
}